@using Microsoft.AspNet.Identity;
@model Projekt_Dejtingsida.Models.ProfileViewModels
@{
    /**/

    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
<div class="card" style="width: 18rem;">
    <img src="@Model.ProfileURL" style="height: auto; max-height: 300px; width: 200px;" class="card-img-top" alt="Profile picture of @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)">
    <h5 class="card-title">@Html.DisplayFor(model => model.Location) (@Html.DisplayFor(model => model.BirthDate))</h5>
    <div class="card-body">
        <p class="card-text"> @Html.DisplayFor(model => model.Description)</p>
    </div>
</div>
@if(!(Model.UserID == User.Identity.GetUserId()))
{
    @Html.ActionLink("» Add friend", "RequestList", "Friend",
            new { friendID = Model.UserID },
            new { @class = "btn btn-primary" })

    <h3>@Model.FirstName's Guestbook </h3>

    @*@Html.Partial("AddToGuestBook")


        }
    *@
}