@model IEnumerable<Projekt_Dejtingsida.Models.Profile>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @foreach (var item in Model)
    {

    <div class="col-md-4">
        <h3>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h3>
        <p>(@Html.DisplayFor(modelItem => item.Location))</p>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
        @Html.ActionLink("» View Profile", "ShowProfile", "Profile",
        new { showID = item.UserID },
        new { @class = "btn btn-primary" })
    </div>

    }
</div>